* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-repeat: no-repeat;
}

#first-section {
    background: linear-gradient(rgb(104, 60, 42),black);
}

span {
    filter: grayscale();
}

html {
    background-color: black;
}

.text-secundary {
    font-size: 1.3vw;
    color: rgb(165, 130, 120);
}

section {
    padding: 3%;
}

#first-text {
    width: 40%;
}

#first {
    text-align: center;
}

@media only screen and (max-width: 650px) {
    #first-text {
        text-align: center;
        width: 100%;
    }

    #first-text > h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }

    #first-text > p {
        text-align: center;
        margin-top: 4px;
        font-size: 10px;
    }

    #sabores {
        font-size: 15px;
    }

    #info-1 {
        text-align: center;
    }
    #food-img {
        width: 80%;
        border-radius: 50%;
    }

    hr {
        border-color: white;
    }
}

@media only screen and (max-width: 1300px) { 
    hr {
        border-color: transparent;
    }

}

#first-text {
    text-align: start;
    font-size: 1.8vw;
}

#first > img {
    width: 60%;
}

.title {
    transition: 1s;
    text-align: center;
    font-size: 2.5vw;
}

#info-1 {
    margin-top: 30px;
}