/*
                                    Estilos generales 
*/

* {
    padding: 0;
    margin: 0;
    text-align: justify;
    color: white;
    font-family: serif;
}


/*
                                    Estilos específicos
*/

body {
    background-repeat: no-repeat;
    text-align: center;
}

#first-section {
    animation-name: firstAnimation;
    animation-duration: 4s;
}

#icon-span {
    animation-name: tenedorAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

header {
    z-index: 100 !important;
}

#persona {
    transition: 1s;
}

#persona:hover {
    transform: rotateY(55deg);
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

.text-secundary {
    color: rgb(165, 130, 120);
}

section {
    padding: 3%;
}

#first-text {
    width: 40%;
}

#first {
    text-align: center;
}

#first-text {
    text-align: start;
    font-size: 1.8vw;
}

#first>img {
    width: 60%;
}

.title {
    transition: 1s;
    text-align: center;
    font-size: 2.5vw;
}

#info-1 {
    margin-top: 30px;
}

.text-explication {
    color: rgb(236, 236, 236);
}

.title-section {
    padding: 15px;
}


/** Botón flotante **/

#floatReserva {
    position: fixed;
    bottom: 0px;
    right: 30px;
    width: 50px;
    float: right;
    z-index: 100;
}

#imgReserva {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: shadow;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    transition: 1s;
}

#imgReserva:hover {
    transform: rotateZ(360deg);
    width: 120%;
}

.videos {
    text-align: center;
    transition: 0.5s;
}

video {
    box-shadow: 1px 1px 100px rgb(104, 60, 42);
    transition: 0.5s;
}

figure>a>img {
    margin-bottom: -2.4em;
}

#ubicacion-imagen:hover {
    transition: 1s;
}


/*
                                Dispositivos móviles y tablets
*/

@media (max-width: 650px) {
    #zoom {
        display: none;
    }
    #first>img {
        width: 80% !important;
    }
    .video {
        margin-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .apartado {
        text-align: center;
    }
    .text-secundary {
        font-size: 12px !important;
    }
    .text-explication {
        text-align: center;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    #alergenos-imagen {
        width: 80%;
        margin-top: 30px;
    }
    #apartado-restaurante {
        margin-bottom: 60%;
    }
    #ubicacion-imagen {
        position: absolute;
        width: 80%;
        left: 11%;
        top: 29.5%;
        z-index: 1;
    }

    @keyframes persona-animate {
        0% {
            left: 30%;
        }
        50% {
            left: 35%;
        }
        100% {
            left: 30%;
        }
    }

    #persona {
        z-index: 3;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: persona-animate;
        top: 35.6%;
        left: 30%;
        position: absolute;
        width: 25%;
    }
    .title {
        margin-bottom: -30px;
        font-size: 1px;
    }
    #first-text {
        text-align: center;
        width: 100%;
    }
    #first-text>h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }
    #first-text>p {
        text-align: center;
        margin-top: 4px;
        font-size: 10px;
    }
    #title-main {
        font-size: 18px;
        text-align: start;
        margin-left: 7%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    #info-1 {
        text-align: center;
    }
    #food-img {
        width: 80%;
        border-radius: 50%;
    }
    hr {
        border-color: white;
    }
}

@media (min-width: 850px) {

    #ubicacion-imagen {
        top: 47% !important;
    }
    #persona {
        top: 59% !important;
    }
    #alergenos-imagen {
        display: block;
        margin: 20px auto;  
      }
      
      #zoom-img {
        pointer-events: none;
        position: absolute;
        top: -170%;
      }
      
      #zoom {
        text-align: center;
        display: block !important;
        position: absolute;
        width: 250px;
        height: 250px;
        box-shadow: 0 0 0 2px rgb(181, 108, 0),
          5px 5px 10px 5px rgba(0,0,0,0.2);
        border-radius: 50%;  
        top: 570px;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
      }
      
}
/*
                                Dispositivos con pantallas grandes
*/

@media (min-width: 650px) {
    #zoom {
        display: none;
    }
    video:hover {
        width: 30%;
    }
    .video {
        margin-top: 30px;
        width: 25%;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    .text-explication {
        margin-left: 70px;
        max-width: 600px;
    }
    #alergenos-imagen {
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #apartado-restaurante {
        margin-bottom: 45%;
    }

    #imagenes-wrap {
        display: inline-block;
    }

    #ubicacion-imagen {
        width: 60%;
        position: absolute;
        left: 21%;
        top: 40%;
    }

    @keyframes persona-animate {
        0% {
            left: 34%;
        }
        50% {
            left: 39%;
        }
        100% {
            left: 34%;
        }
    }

    #persona {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: persona-animate;
        left: 34%;
        top: 49%;
        position: absolute;
        width: 20%;
    }
}

/*
                                                    Loading
*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}

.loading .spin {
    border: 3px solid transparent;
    border-top-color: #aa6600;
    border-radius: 50%;
    width: 3em;
    margin-top: 200px;
    height: 3em;
    animation: spin 1s linear infinite;
}

#loading-img {
    position: absolute;
    top: 140px;
    margin-left: 0.4%;
    width: 320px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}     

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 #6e4400;
    }
    100% {
        box-shadow: 0 0 0 1rem rgb(247 177 67 / 0%);
    }
}

@keyframes firstAnimation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes tenedorAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*

span  {
    width: 150px !important;
}

span > a > img {
    width: 150px !important;
}

*/