/*
                                    Estilos generales 
*/

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: serif;
}


/*
                                    Estilos específicos
*/

body {
    background-repeat: no-repeat;
}

#first-section {
    background: linear-gradient(rgb(104, 60, 42), black);
}

span {
    filter: grayscale();
}

header {
    z-index: 100 !important;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

.text-secundary {
    color: rgb(165, 130, 120);
}

section {
    padding: 3%;
}

#first-text {
    width: 40%;
}

#first {
    text-align: center;
}

#first-text {
    text-align: start;
    font-size: 1.8vw;
}

#first>img {
    width: 60%;
}

.title {
    transition: 1s;
    text-align: center;
    font-size: 2.5vw;
}

#info-1 {
    margin-top: 30px;
}

.text-explication {
    color: rgb(236, 236, 236);
}

.title-section {
    padding: 10px;
}


/** Botón flotante **/

#floatReserva {
    position: fixed;
    bottom: 0px;
    right: 30px;
    width: 50px;
    float: right;
    z-index: 100;
}

#imgReserva {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    transition: 1s;
}

#imgReserva:hover {
    transform: rotateZ(360deg);
    width: 120%;
}

.videos {
    text-align: center;
    transition: 0.5s;
}

video {
    box-shadow: 1px 1px 100px rgb(104, 60, 42);
    transition: 0.5s;
}

figure>a>img {
    margin-bottom: -2.4em;
}

#ubicacion-imagen:hover {
    transition: 1s;
}


/*
                                Dispositivos móviles y tablets
*/

@media (max-width: 650px) {
    #first>img {
        width: 80% !important;
    }
    .video {
        margin-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .apartado {
        text-align: center;
    }
    .text-secundary {
        font-size: 12px !important;
    }
    .text-explication {
        text-align: center;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    #alergenos-imagen {
        width: 80%;
        margin-top: 30px;
    }
    #ubicacion-imagen {
        width: 80%;
    }
    .title {
        margin-bottom: -30px;
        font-size: 1px;
    }
    #first-text {
        text-align: center;
        width: 100%;
    }
    #first-text>h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }
    #first-text>p {
        text-align: center;
        margin-top: 4px;
        font-size: 10px;
    }
    #title-main {
        font-size: 17px;
        text-align: start;
        margin-left: 7%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #info-1 {
        text-align: center;
    }
    #food-img {
        width: 80%;
        border-radius: 50%;
    }
    hr {
        border-color: white;
    }
}


/*
                                Dispositivos con pantallas grandes
*/

@media (min-width: 650px) {
    video:hover {
        width: 30%;
    }
    .video {
        margin-top: 30px;
        width: 25%;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    .text-explication {
        margin-left: 70px;
        max-width: 600px;
    }
    #alergenos-imagen {
        width: 75%;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #ubicacion-imagen {
        width: 60%;
        margin-top: -50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}