
body {
    background: black;
    font-family: sans-serif;
    text-align: center;
    color: white;
  }

h1{
  text-align: center;
}


 

  #contenedor{
    width: 100%;
  }

  #Salva, #Flavio, #Eli{
    width: 100%;
    border: 0.1em dotted rgb(209, 206, 206);
    border-radius: 0.1em;
    margin-right:0.1em;
    padding-top: 0.3em;
    background: #ffffff;
    color: black
  }

    #Javi, #Nacho{
    width: 100%;
    border: 0.1em dotted rgb(209, 206, 206);
    border-radius: 0.1em;
    margin-right:0.1em;
    padding-top: 0.3em;
    display: inline-block;
    background: #ffffff;
    color: black;
    }

  
  

  img{
      width: 40%;
      height: auto;
      display: block;
      margin:auto;
      border-radius: 0.5em;

  }


 
  h3{
      font-weight: bold;
  }

  h4{
      font-style: italic;
  }


  hr{
      width: 10%;
      border-top: 0.1em solid rgb(3, 3, 3);
  }
  
.just{
  text-align: justify;
  width: 90%;
  margin-left:1.2em;
}
   @media (min-width: 850px) {#Javi{float:center} #Salva, #Eli, #Flavio{ float: left;} #Nacho,#Salva,#Javi,#Eli,#Flavio{width: 30%; margin-bottom: 1.5em; margin-left: 1.8em;} img{margin-bottom: 0.5em;}}  
   @media (min-width: 451px) and (max-width: 850px) {#Nacho{float:center}  #Salva,#Javi,#Eli,#Flavio{float:left} #Nacho, #Salva,#Javi,#Eli,#Flavio{width: 45%; margin-left:1.5em; margin-bottom: 1.5em;} img{margin-bottom: 0.5em; width:55%}}  
  @media (max-width: 450px) {#Nacho,#Salva,#Javi,#Eli,#Flavio{width: 90%;     display: inline-block; margin-left:0.2em; margin-bottom: 1.5em;} img{margin-bottom: 0.5em; width:60%}}  
