body {
    background: linear-gradient(#daa5a5, #493533);
    font-family: sans-serif;
  }

h1{
  text-align: center;
}

li{
  list-style: none;
}

  div {
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #bq1{
    width: 100%;
  }

  #frios {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    margin-left: 10em;
  }

  #salmorejo{
    margin-left: 5.5em;
    margin-top: 0.5em;
  }

  #ensaladas {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    position: relative;
    bottom: 2.4em;

  }

  #cesar{
    margin-left: 5.5em;
    margin-top: 1.7em;
  }


  #bq2{
    width: 100%
  }

  #guisos {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    margin-left: 10em;
  }

  #carrillada{
    margin-left: 5.5em;
    margin-top: 0.5em;
  }

  #fritos {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    position: relative;
  }

  #croquetas{
    margin-left: 5.5em;
    margin-top: 0.5em;
  }

  #carnes {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    margin-left: 10em;
  }

  #presa{
    margin-left: 5.5em;
    margin-top: 0.5em;
  }

  #arroces {
    border: 3px solid rgb(56, 53, 53);
    border-radius: 25px;
    float: left;
    position: relative;
  }

  #revueltos {
    float: left;
  }
  
  #postres {
    float: left;
  }