
body {
    background: linear-gradient(#daa5a5, #493533);
    font-family: sans-serif;
  }

h1{
  text-align: center;
}

li{
  list-style: none;
}

 

  

  #caja {
    width: 25%;
    border: 0.188em solid rgb(56, 53, 53);
    border-radius: 1.563em;
    float: left;
  }

  #texto{
    width: 80%;
    height: auto;
  }

  img{
      width: 50%;
      height: auto;
      align-self: center;
  }


  /* @media only screen and (min-width: 1200px) {#caja{width: 33%;}}  */
