

html{
    position: relative
    
}
body{
    margin-top: 80px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:0;
}
    /* Header */
    .header{
        background: #333;
        height: 80px;
        color: white;
    
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }
    
    .header a{
        color: white;
    }
    
    div .logo{
        text-decoration: none;
        float: left;
        position: absolute;
        left: 15%;
        width: 100px;
    }

   
    

    .logo, .enlaceLogo{
        overflow: hidden;
        display: block;
        height: 100%;
    }
    .enlaceLogo img{
        width: 100px;
        height: 75px;
    }
    
    
    /* Meterle algún efecto al logo */
    
    
    
    /* Menu de navegacion */
    .menuNavegacion{
        float: right;
        clear: none;
        position: absolute;
        line-height: 30px;
        height: 100%;
        margin: 0;
        right: 15%;
    }
    
    .menuNavegacion ul{
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
        display: flex;
    }
    
    .menuNavegacion ul li{
        display: inline-block;
        line-height: 80px;
    }
    
    .menuNavegacion ul li a{
        display: block;
        padding: 0 18px;
        text-decoration: none;
    }
    
    .menuNavegacion ul li a:hover{
        background: rgba(255, 255, 255, 0.384);
    }

    .indicadorPaginaHome{
       color: white;
       font-size: 50px;
       position: absolute;
       margin-top: -79px;
       margin-left: 18px;
    }
    .indicadorPaginaMenu{
        color: white;
       font-size: 50px;
       position: absolute;
       margin-top: -79px;
       margin-left: 18px;
    }
    .indicadorPaginaGaleria{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 21px;
    }

    .indicadorPaginaReserva{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 25px;
    }
    .indicadorPaginaContacto{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 27px;
    }
    
    
    
    
    /* :::::::Footer::::::: */
    
    
    .pie-pagina{
        width: 100%;
        left: 0;
        bottom: 0;
        overflow: hidden;
        margin: 0px;
        background-color: #333;
    }
    
    .pie-pagina .grupo-1{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        margin-top: -30px;
    }
    
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
       
    }
    
    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: -30px;
    }
    .pie-pagina .grupo-1 .box figure img:hover{
        transform: skew(-10deg);
}
    
    
    
    .pie-pagina .grupo-1 .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: white;
        margin-right: 10px;
        background: rgb(75, 75, 75);
        text-align: center;
    }

    .sobreNosotros ul{
        list-style: none;
        padding-left: 0;
    }

  
    .sobreNosotros ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-left: 30px;
    }

    .sobreNosotros ul li a:hover{
        color: rgb(63, 10, 10);
    }
    
    .pie-pagina .grupo-1 .red-social a:hover{
        color: rgb(63, 10, 10);;
    }
    
    .pie-pagina .grupo-2{
        background: rgb(75, 75, 75);
        padding: 15px 10px;
        color: white;
        text-align: center;
        margin-top: -10px;
    }

    #botonMenu, .menuDesplegable, .labelBoton{
        display: none;
    }


     /* ###################### Pagina contacto */

    
     .localizacion{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        align-items: center;
        display: flex;
       padding-left: 5%;
        
        
        
        

    }
    .mapa{
        display: inline-block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 49%;
       
       
       
        
    }


    .direccion{
       
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 49%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
   





    



/* -------Footer y Header para tablet--------- */

@media screen and (min-width: 451px) and (max-width:850px){
    body{
        margin-top: 80px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #botonMenu{
        display: none;
    }

    /* Cuando el boton esté chekeado nos buscara a la clase menu */
    #botonMenu:checked ~ .menuNavegacion{
        margin-right: -25%;
    }

    .labelBoton{
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
        right: 50px;
        border-left: 1px solid rgba(255, 255, 255, 0.384);
        margin-top: 15px;
    }

    .labelBoton:hover{
        display: block;
        cursor: pointer;
        
    }

    /* Mostramos el menu desplegable */
    .menuNavegacion{
        display: block;
        position: absolute;
        margin-right: -90%;
        margin-top: 80px;
        width: 70%;
        transition: all 1s;
        
}

    

    /* Ocultamos el menu visible */
    .menuNavegacion ul{
        display: block;
        flex-direction: column;
        background-color: #333;
        border: 1px solid rgba(255, 255, 255, 0.384);
        
    }

    .menuNavegacion li{  
        width: 100%;
        margin-left: 20px;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 20px 0px;
        
        
    }

    .pie-pagina .grupo-2{
        margin-top: 0px;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
       
    }

    .box{
        text-align: center;
    }



    /* ###################### Pagina contacto */

    
    .localizacion{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        
        

    }
    .mapa{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
       
       
        
    }

    .mapaDireccion{
        background-color: black;
        
    }

    .direccion{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
}
/* -------Footer y Header para movil--------- */

@media screen and (max-width: 450px){
    body{
        margin-top: 80px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0    }

    #botonMenu{
        display: none;
    }

    /* Cuando el boton esté chekeado nos buscara a la clase menu */
    #botonMenu:checked ~ .menuNavegacion{
        margin-right: -15%;
    }

    .labelBoton{
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
        right: 50px;
        border-left: 1px solid rgba(255, 255, 255, 0.384);
        margin-top: 15px;
    }

    .labelBoton:hover{
        display: block;
        cursor: pointer;
        
    }

    /* Mostramos el menu desplegable */
    .menuNavegacion{
        display: block;
        position: absolute;
        margin-right: -90%;
        margin-top: 80px;
        width: 70%;
        transition: all 1s;
        
}

    

    /* Ocultamos el menu visible */
    .menuNavegacion ul{
        display: block;
        flex-direction: column;
        background-color: #333;
        border: 1px solid rgba(255, 255, 255, 0.384);
        
    }

    .menuNavegacion li{  
        width: 100%;
        margin-left: 20px;
    }
    

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 20px 0px;
        
        
    }

    .pie-pagina .grupo-2{
        margin-top: 0px;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
       
    }

    /* ###################### Pagina contacto */

    
    .localizacion{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        
        

    }
    .mapa{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
       
       
        
    }

    .mapaDireccion{
        background-color: black;
        
    }

    .direccion{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
}



