/*
                                                Estilos generales
*/

/*
    Animaciones
*/ 
    span.logo {
        transition: 1s;
    }

    span.logo:hover {
        transform: rotateZ(360deg);
    }

    .menuNavegacion ul li a {
        transition: 0.5s;
    }


/* PANTALLAS */

@media (min-width: 851px) {
   
        
    body {
        font-family: Arial, Helvetica, sans-serif;              /*Tipografia general*/
        background: rgb(0, 0, 0);                             /*Fondo tras formulario*/
    }

    form * {
        box-sizing: border-box;
    }

    form .banner img{
        width: 100%;
    }
    
    form .banner{
        display: inline-block;  
        width: 20%;
    }

    form .banner2{display: none;}

    /* Add padding to containers */
    form  .container {
        padding: 16px;
        background-color: rgb(255, 255, 255);
        width: 60%;
        margin-right: auto;
        display: inline-block;    

        
        
    }

    /* Formato inputs */
    form input[type=date],form input[type=time], form input[type=text], form input[type=password], form .alergenos,form  textarea{
        width: 64%;
        padding: 15px;
        margin: 5px 0 5px 0;
        border: none;
        background: #f1f1f1;
        
    }


    form select{
        
        width: 64%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }


    /* Colorea el fondo mientras se escribe */
    form input[type=date],form input[type=time], form  input[type=text]:focus,form  input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    form   hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }


    form  br {
        
        margin-bottom: 5px;
    }

    /* Botón de reserva */
    form  .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
    }

    form  .registerbtn:hover {
        opacity: 1;
    }

    /* Terminos y condiciones-link azul */
    form  a {
        color: dodgerblue;
    }


    form  #divAlerg{
        
        display: flex;
        align-items: center;
        
    }

    form textarea{


        width: 64%;
    }


    form .divRadio{
        display: inline-block;
        
    }


    form .place{
        
        float: left;
        
    }


    form .radios{

        float: left;
        margin-left: 40px;
        padding-top: 14px;}

   






    form  label{
    display: inline-block;

    width: 155px;

    }

    form  fieldset label{
    display: inline;

    }


}

/* TABLETS */
@media (min-width: 451px) and (max-width: 850px) {


    body {
        font-family: Arial, Helvetica, sans-serif; /*Tipografia general*/
        background-color: rgb(0, 0, 0);                /*Fondo tras formulario*/
    }

    form  * {
        box-sizing: border-box;
    }


    form .banner img{

        width: 100%;
        
    }
    
    form .banner{

        
    display:    inline-block;  
    width: 15%;
    }

    form .banner2{display: none;}

    /* Add padding to containers */
    form  .container {
        padding: 6px;
        background-color: rgb(255, 255, 255);
        width: 70%;
        margin-right: auto;
        display:    inline-block;  

    }

    /* Formato inputs */
    form input[type=text], form input[type=date],form input[type=time], form input[type=password], form .alergenos,form  textarea{
        width: 100%;
        padding: 15px;
        
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        
    }


    form select{
        
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }


    /* Colorea el fondo mientras se escribe */
    form input[type=date],form input[type=time], form  input[type=text]:focus, form input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    form  hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }


    form br {
        
        margin-bottom: 5px;
    }

    /* Botón de reserva */
    form  .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
    }

    form .registerbtn:hover {
        opacity: 1;
    }

    /* Terminos y condiciones-link azul */
    form   a {
        color: dodgerblue;
    }


    form #divAlerg{
        
        display: block;
        align-items: center;
        
    }

    
    
    form textarea{
        
        
        width: 100%;
    }
    
    
    form  label{
        display: inline-block;
        text-align: center;
        width: 100%;
        
    }
    form .divRadio{
       text-align: center;
    }

    form .divRadio label{
        display: inline-table;
        width: 10px;
        text-align: center;
        
    }
    
    form fieldset label{
    display: inline;

    }




}


/* MOVIL */
@media (max-width: 450px) {




    .bodyReserva {
        font-family: Arial, Helvetica, sans-serif; /*Tipografia general*/
        background-color: rgb(0, 0, 0);   
        margin-left: 0px;        
        margin-right: 0px;
        
        
        /*Fondo tras formulario*/
    }

    form  * {
        box-sizing: border-box;
    }

    form .banner{
        display: none;
    }

    form .banner2 img{

        width: 100%;
        
    }
    
    

    /* Add padding to containers */
    form  .container {
        padding: 0px;
        border-collapse: collapse;
        background-color: rgb(255, 255, 255);
        width: 100%;
       
        
    }

    /* Formato inputs */
    form input[type=text], form input[type=date],form input[type=time], form input[type=password], form .alergenos,form  textarea{
        width: 100%;
        padding: 15px;
        
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        
    }


    form select{
        
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }


    /* Colorea el fondo mientras se escribe */
    form input[type=date],form input[type=time], form  input[type=text]:focus, form input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    form  hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }


    form br {
        
        margin-bottom: 5px;
    }

    /* Botón de reserva */
    form  .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
    }

    form .registerbtn:hover {
        opacity: 1;
    }

    /* Terminos y condiciones-link azul */
    form   a {
        color: dodgerblue;
    }


    form #divAlerg{
        
        display: block;
        align-items: center;
        
    }

    
    
    form textarea{
        
        
        width: 100%;
    }
    
    
    form  label{
        display: inline-block;
        text-align: center;
        width: 100%;
        display: none;
        
    }
    form .divRadio{
       text-align: center;
    }

    form .divRadio label{
        display: inline-table;
        width: 10px;
        text-align: center;
        
    }
    
    form fieldset label{
    display: inline;

    }

    form .place{

        display: none;
    }



}





/* FOOTER HEADER */




html{
    position: relative
    
}


body{
    margin-top: 80px;
    margin-bottom: 300px;
    font-family: serif;
}
    /* Header */
    .header{
        background: #333;
        height: 80px;
        color: white;
    
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }
    
    .header a{
        color: white;
    }
    
    div .logo{
        text-decoration: none;
        float: left;
        position: absolute;
        left: 15%;
        width: 100px;
    }

   
    

    .logo, .enlaceLogo{
        overflow: hidden;
        display: block;
        height: 100%;
    }
    .enlaceLogo img{
        width: 100px;
        height: 75px;
    }
    
    
    /* Meterle algún efecto al logo */
    
    
    
    /* Menu de navegacion */
    .menuNavegacion{
        float: right;
        clear: none;
        position: absolute;
        line-height: 30px;
        height: 100%;
        margin: 0;
        right: 15%;
    }
    
    .menuNavegacion ul{
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: -40px;
        display: flex;
    }
    
    .menuNavegacion ul li{
        display: inline-block;
        line-height: 80px;
    }
    
    .menuNavegacion ul li a{
        display: block;
        padding: 0 18px;
        text-decoration: none;
    }
    
    .menuNavegacion ul li a:hover{
        background: rgba(255, 255, 255, 0.384);
    }

    .indicadorPaginaHome{
       color: white;
       font-size: 50px;
       position: absolute;
       margin-top: -79px;
       margin-left: 14px;
    }
    .indicadorPaginaMenu{
        color: white;
       font-size: 50px;
       position: absolute;
       margin-top: -79px;
       margin-left: 18px;
    }
    .indicadorPaginaGaleria{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 21px;
    }

    .indicadorPaginaReserva{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 25px;
    }
    .indicadorPaginaContacto{
        color: white;
        font-size: 50px;
        position: absolute;
        margin-top: -79px;
        margin-left: 27px;
    }
    
    
    
    
    /* :::::::Footer::::::: */
    
    
    .pie-pagina{
        width: 100%;
        left: 0;
        bottom: 0;
        overflow: hidden;
        position: absolute;
        margin: 0px;
        background-color: #333;
    }
    
    .pie-pagina .grupo-1{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        margin-top: -30px;
    }
    
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
       
    }
    
    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: -30px;
    }
    .pie-pagina .grupo-1 .box figure img:hover{
        transform: skew(-10deg);
}
    
    
    
    .pie-pagina .grupo-1 .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: white;
        margin-right: 10px;
        background: rgb(75, 75, 75);
        text-align: center;
    }

    .sobreNosotros ul{
        list-style: none;
        padding-left: 0;
    }

  
    .sobreNosotros ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-left: 30px;
    }

    .sobreNosotros ul li a:hover{
        color: rgb(63, 10, 10);
    }
    
    .pie-pagina .grupo-1 .red-social a:hover{
        color: rgb(63, 10, 10);;
    }
    
    .pie-pagina .grupo-2{
        background: rgb(75, 75, 75);
        padding: 15px 10px;
        color: white;
        text-align: center;
        margin-top: -10px;
    }

    #botonMenu, .menuDesplegable, .labelBoton{
        display: none;
    }


     /* ###################### Pagina contacto */

    
     .localizacion{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        align-items: center;
        display: flex;
       padding-left: 5%;
    }

    .containerGeneralContacto{
        background-color: white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .mapa{
        display: inline-block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 49%;
       
       
       
        
    }


    .direccion{
       
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 49%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
    .containerFormularioContacto{
        padding: 16px;
        background-color: rgb(255, 255, 255);
        width: 60%;
        margin-right: auto;
        margin-left: auto;
            
    }

    .tituloContacto{
        color: white;
        text-align: center;
    }
   





    



/* -------Footer y Header para tablet--------- */

@media screen and (min-width: 451px) and (max-width:850px){
    body{
        margin-top: 80px;
        margin-bottom: 600px;
    }

    #botonMenu{
        display: none;
    }

    /* Cuando el boton esté chekeado nos buscara a la clase menu */
    #botonMenu:checked ~ .menuNavegacion{
        margin-right: -25%;
    }

    .labelBoton{
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
        right: 50px;
        border-left: 1px solid rgba(255, 255, 255, 0.384);
        margin-top: 15px;
    }

    .labelBoton:hover{
        display: block;
        cursor: pointer;
        
    }

    /* Mostramos el menu desplegable */
    .menuNavegacion{
        display: block;
        position: absolute;
        margin-right: -90%;
        margin-top: 80px;
        width: 70%;
        transition: all 1s;
        
}

    

    /* Ocultamos el menu visible */
    .menuNavegacion ul{
        display: block;
        flex-direction: column;
        background-color: #333;
        border: 1px solid rgba(255, 255, 255, 0.384);
        
    }

    .menuNavegacion li{  
        width: 100%;
        margin-left: 20px;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 20px 0px;
        
        
    }

    .pie-pagina .grupo-2{
        margin-top: 0px;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
       
    }

    .box{
        text-align: center;
    }



    /* ###################### Pagina contacto */

    
    .localizacion{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        
        

    }
    .mapa{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
       
       
        
    }

    .mapaDireccion{
        background-color: black;
        
    }

    .direccion{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
}
/* -------Footer y Header para movil--------- */

@media screen and (max-width: 450px){
    body{
        margin-top: 80px;
        margin-bottom: 600px;
    }

    #botonMenu{
        display: none;
    }

    /* Cuando el boton esté chekeado nos buscara a la clase menu */
    #botonMenu:checked ~ .menuNavegacion{
        margin-right: -15%;
    }

    .labelBoton{
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
        right: 50px;
        border-left: 1px solid rgba(255, 255, 255, 0.384);
        margin-top: 15px;
    }

    .labelBoton:hover{
        display: block;
        cursor: pointer;
        
    }

    /* Mostramos el menu desplegable */
    .menuNavegacion{
        display: block;
        position: absolute;
        margin-right: -90%;
        margin-top: 80px;
        width: 70%;
        transition: all 1s;
        
}

    

    /* Ocultamos el menu visible */
    .menuNavegacion ul{
        display: block;
        flex-direction: column;
        background-color: #333;
        border: 1px solid rgba(255, 255, 255, 0.384);
        
    }

    .menuNavegacion li{  
        width: 100%;
        margin-left: 20px;
    }
    

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 20px 0px;
        
        
    }

    .pie-pagina .grupo-2{
        margin-top: 0px;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
       
    }

    /* ###################### Pagina contacto */

    
    .localizacion{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        
        

    }
    .mapa{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
       
       
       
        
    }

    .mapaDireccion{
        background-color: black;
        
    }

    .direccion{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
        /* margin-left: 20px; */
       
       
       
    }
    .direccion p{
        padding: 10px;
    }

    .formularioContactoTitulo{
        clear: both;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        border-top: 2px black solid;
        margin-top: 50px;
    }
    .formContacto{
        clear: both;
    }
}

