/* Header */
.header{
    background: #333;
    height: 80px;
    color: white;

    width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

.header a{
    color: white;
}

.logo{
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

.logo:hover{
    color: #0b76a6;
}

.logo .nombreRestaturante{
    font-family: cursive;
    display: block;
    font-weight: 700;
    font-size: 1.9em;
    transition: 1s;


}

.logo img{
    width: 90px;
    position: fixed;
    margin-top: -25px;
}

.logo .nombreRestaturante:hover{
    transform: rotateX(360deg);

}

.logo .abajoNombreRestaturante{
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
/* Menu de navegacion */
.menuNavegacion{
    float: right;
}

.menuNavegacion ul{
    margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

.menuNavegacion ul li{
    display: inline-block;
	line-height: 80px;
}

.menuNavegacion ul li a{
    display: block;
	padding: 0 10px;
	text-decoration: none;
}

.menuNavegacion ul li a:hover{
    background: #0b76a6;
}




/* :::::::Footer::::::: */



.pie-pagina{
    width: 100%;
    left: 0;
	bottom: 0;
	position: fixed;
    
    background-color: #333;
}

.pie-pagina .grupo-1{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    margin-top: -30px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    margin-top: -35px;
}



.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background: rgb(75, 75, 75);
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(63, 10, 10);;
}

.pie-pagina .grupo-2{
    background: rgb(75, 75, 75);
    padding: 15px 10px;
    color: white;
    text-align: center;
    margin-top: -80px;
}

@media screen and (max-width: 800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        padding: 20px 0px;
        
    }

    .pie-pagina .grupo-2{
        margin-top: 0px;
    }

    .pie-pagina .grupo-1 .box figure img{
        width: 200px;
        margin-top: 5px;
        margin-bottom: -20px;
    }

    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
       
    }
}

